In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\Lenovo\Downloads\Heart_Disease.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
useful_col=['age','cp','trestbps','restecg','fbs','chol','thalach','exang','oldpeak','slope','ca','thal']
x=df[useful_col]
y=df.target

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [7]:
print(x_train)

     age  cp  trestbps  restecg  fbs  chol  thalach  exang  oldpeak  slope  \
62    52   3       118        0    0   186      190      0      0.0      1
127   67   2       152        1    0   277      172      0      0.0      2
111   57   2       150        1    1   126      173      0      0.2      2
287   57   1       154        0    0   232      164      0      0.0      2
108   50   1       120        1    0   244      162      0      1.1      2
..   ...  ..       ...      ...  ...   ...      ...    ...      ...    ...
203   68   2       180        0    1   274      150      1      1.6      1
255   45   0       142        0    0   309      147      1      0.0      1
72    29   1       130        0    0   204      202      0      0.0      2
235   51   0       140        1    0   299      173      1      1.6      2
37    54   2       150        0    0   232      165      0      1.6      2

     ca  thal
62    0     1
127   1     2
111   1     3
287   1     2
108   0     2
..   ..   ...
203   0     3
255   3     3
72    0     2
235   0     3
37    0     3

[242 rows x 12 columns]

In [8]:
print(x_test)

     age  cp  trestbps  restecg  fbs  chol  thalach  exang  oldpeak  slope  \
204   62   0       160        0    0   164      145      0      6.2      0
159   56   1       130        0    0   221      163      0      0.0      2
219   48   0       130        0    1   256      150      1      0.0      2
174   60   0       130        0    0   206      132      1      2.4      1
184   50   0       150        0    0   243      128      0      2.6      1
..   ...  ..       ...      ...  ...   ...      ...    ...      ...    ...
0     63   3       145        0    1   233      150      0      2.3      0
288   57   0       110        1    0   335      143      1      3.0      1
259   38   3       120        1    0   231      182      1      3.8      1
179   57   0       150        0    0   276      112      1      0.6      1
110   64   0       180        1    0   325      154      1      0.0      2

     ca  thal
204   3     3
159   0     3
219   2     3
174   2     3
184   0     3
..   ..   ...
0     0     1
288   1     3
259   0     3
179   1     1
110   0     2

[61 rows x 12 columns]

In [9]:
clf=DecisionTreeClassifier()  
clf=clf.fit(x_train,y_train)
y_est=clf.predict(x_test)
print("Accuracy:" ,metrics.accuracy_score(y_test, y_est))

Accuracy: 0.7049180327868853